html, body {
	height: 100vh;
}
body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	line-height: 24px;
	padding-top: 60px;
	padding-right: 0;
	padding-left: 0;
}

.navbar-brand {
	padding-top: 2px;
	padding-left: 10px;
}
.navbar-brand>img {
	width: 11em;
	margin-left: 25px;
	margin-top: 5px;
}
.nav-pills>li>a {
	color: #B4B8BB;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: white;
	color: #3D3D3D;
	border-top: 5px solid #1D8064;
	border-bottom: 1px solid #F2F2F2;
}
.nav-pills>li {
	background-color: #FBFCFA;
	width: 100%;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	letter-spacing: 1px;
}
.panel-body {
	-webkit-box-shadow: 1px 1px #4d4d4d;
		-moz-box-shadow: 0 6px 4px -4px #4d4d4d;
		box-shadow: 0 2px 19px 0 rgba(0,0,0,0.14);
		border-radius: 0;
		border: none;
		padding: 6%;
		background-color: #F2F2F2;
}
@media(max-width:767px){

}
@media (min-width: 968px) {
	.nav-pills>li {
		width: 100%%;
		font-size: 12px;
	}
	.panel-body {
		height: 100vh;
	}
}
.fa.fa-building {
	padding-right: 3%;
	font-size: 25px;
	color: #C6CED3;
}
.attn {
	color: #EF839E;
}
.fa-check {
	color: green;
}
.fa-check, .fa-times {
	font-size: 1.5em;
}
#tabs .tab-content {
  color : white;
  color: black;
  padding: 15px;
}

#energy-use img {
	padding-bottom: 4%;
	padding-top: 4%;
}
#ghg img {
	padding-bottom: 4%;
	padding-top: 2%;
}
#building-icon {
	padding-bottom: 5%;
	padding-right: 4%;
	width: 12%;
}
.nav>li>a {
	padding: 5px 15px;
}

.building-name.side {
	font-size: 20px;
	font-weight: 500;
	color: #0B0B0B;
	letter-spacing: 1px;
	text-align: center;
}
.panel-body.side {
	/* height: 850px; */
	z-index: 2;
}
.panel-body.bottom {
	padding: 5%;
	background-color: #F4F2F0;
	box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.07);
}
.container {
	margin: 0;
}
.navbar {
	background: linear-gradient(90deg, #1D8064 0%, #1D8064 100%);
	-webkit-box-shadow: 0 8px 6px -6px #4d4d4d;
    -moz-box-shadow: 0 8px 6px -6px #4d4d4d;
    box-shadow: 0 8px 6px -6px #4d4d4d;
    border: none;
    height: 60px;
	border-radius: 2px;
	background-color: #FFFFFF;
}
}
.dashboard-header {
	color: gray;
	font-size: 16px;
}
.dashboard-header.ranking {
	color: #008163;
}
.chart-title {
	padding: 6%;
	font-size: 14px;
	color: #3D3D3D;
	letter-spacing: 1.2px;
}
.ranking-text {
	padding: 3%;
	margin-top: 2%;
	font-size: 16px;
	color: #3D3D3D;
}
.ranking-num {
	font-size: 32px;
	color: #0B0B0B;
}
.ranking-units {
	font-size: 14px;
	color: #0B0B0B;
}
.dashboard-num-large {
	font-size: 56px;
	text-align: center;
	line-height: 33px;
	letter-spacing: 2px;
	color: #0C0C0C;
}
.dashboard-num-small {
	font-size: 46px;
	text-align: center;
	line-height: 33px;
	letter-spacing: 2px;
	color: #0C0C0C;
}
.energy-ranking {
	font-size: 16px;
}
.row.center {
	text-align: center;
}
.space {
	padding-top: 2%;
	padding-bottom: 3%;
}
.narrow {
	line-height: 1.1;
}
.row.center.large {
	padding-top: 20%;
}
.btn-lg {
	background-color: #F78C66;
	border: none;
	border-radius: 100px;
	width: 80%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
	height: 40px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	color: white;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #c45f00;
}
.address {
	font-size: 14px;
	color: #535557;
	line-height: 20px;
}
.side-panel-text {
	font-size: 14px;
	color: #535557;
	padding-top: 10%;
	padding-bottom: 10%;
	letter-spacing: 1px;
	line-height: 24px;
	text-align: center;
}
}
.building-units, .building-data {
	font-size: 12px;
	line-height: 20px;
	padding-top: 8%;
}

.building-units {
	text-align: right;
	color: #535557;
}
.building-data {
	padding-right: 8%;
	padding-left: 8%;
	text-align: left;
	color: #535557;
}
.building-ranking {
	color: #FFFFFF;
	font-size: 35px;
	letter-spacing: 1px;
	line-height: 32px;
	text-align: center;
	font-weight: 200;
}
#local-ranking-tooltip {
	color: #6ED9BE;
}

h2 {
	text-align: center;
	color: #0C0C0C;
}
h4 {
	color: #3D3D3D;
}
.profile-header {
	color: #1D8064;
	padding-bottom: 5%;
	font-size: 11px;
}
.nav {
	padding-left: 1px;
}
.links {
	padding-left: 6%;
	padding-right: 6%;
}

.link a {
	padding-top: 2%;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: underline;
}

.panel-bottom-header {
	font-size: 18px;
	color: #3D3D3D;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 2px;
}
.panel-bottom-text {
	opacity: 0.9;
	font-size: 16px;
	line-height: 24px;
	color: #3D3D3D;
}
.circle-container {
	margin: 0 auto;
	width: 15px;
}
.left-box {
	border-top: 1px solid lightgray;
}
.col-xs-8.right {
	padding: 0;
}
.right-box {
	padding-bottom: 4%;
}
.right-box.top,
.right-box.bottom {
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
}
.border-bottom {
	border-bottom: 2px dotted lightgray;
	padding-bottom: 2%;
}
.ranking {
	width: 164px;
	height: 15px;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	color: #6ED9BE;
}
.panel-bottom {
	padding: 4%;
	border-top: 1px dotted darkgray;
}
.glyphicon-question-sign:before {
	padding-left: 5px;
	color: darkgray;
}

/* charts */

.chart-quartiles {
	padding-bottom: 7%;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
}

.rLegend circle {
  fill: none;
  stroke: #ccc;
}

.rLegend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.axislabel {
	font-size: 0.8em;
	fill: #777;
}