/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h1,
h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav .metric-dropdown>li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

.main-nav li {
	vertical-align: top;
}

.main-nav>li:first-child {
	font-size: 24px;
	font-weight: 700;
}

.main-nav>li button {
	border: 1px solid #333;
	background: #fff;
	border-radius: 0;
	width: 100%
}

#infotable thead th {
	font-size: .9em
}

#infotable tbody tr {
	font-size: .8em
}

#infotable tr.odd {
	background: #d9e4ea;
}

#infotable_filter .input-sm {
	height: 16px;
}


#infotable_length,
#infotable_filter,
#infotable_info,
#infotable_paginate {
	font-size: .8em;
	color: #999;
}
/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #d9e4ea;
	margin-bottom: 30px;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

.widget {
	border: 1px #999 solid;
	margin-bottom: 1.5em;
	padding: 1em;
}

.widget-heading h2 {
	font-size: 18px;
	font-weight: 700;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.main-nav,
	.main-nav>li {
		margin: 0 .4em;
		/*margin-top: 10px;*/
		display: inline-block;
	}

	.name {
		width: 240px;
		display: block;
		margin: auto;
		/*margin-right: 50px;*/
	}

	/*.main-nav li {
		margin-right: 12px;
	}*/

	.main-nav li:last-child {
		display: inline-block;
		text-align: right;
	}

	.col {
		/*background-color: #ccc;*/
		margin-right: -8px;
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 0 1em;
	}

	#widget-map {
		height: 480px;
	}

	.col-full {
		width: 100% !important;
		padding: 0 1.2em 0 1.1em;
	}

}
