html,
body, #map {
    height: 100%;
    /*width: 100%;*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
}

.rLegend circle {
  fill: none;
  stroke: #ccc;
}

.rLegend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}
